body {
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

nav {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-top: 5px;
}

#lefthead {
    justify-content: start;
    display: flex;
    width: 50%;
    padding: 10px;
    align-items: center;
}

#righthead {
    justify-content: flex-end;
    display: flex;
    width: 50%;
    padding: 10px;
    align-items: center;
}

#app-image {
    height: 18px;
    width: 18px;
}

a{
    padding: 6px;
    color: rgba(0,0,0,0.87);
    text-decoration: none;
}

img{
    padding: 16px;
}

#sign-in{
    background-color: #4387fd;
    color: white;
    border: 1px solid #4285f4;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    border-radius: 2px;
}

#bbar {
    display: flex;
    bottom: 0px;
    position: absolute;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    padding: 15px;
    width: max-content;
    width: 100%;
    
    
}

#left-bbar{

}

#right-bbar{
    position: relative;
    justify-content: flex-end;
    text-align: right;
    right: 0;
    padding-left: 1420px;
}